
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC BANK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        <div class="col-md-12">

            <img src="~/Images/Samplelogo.jpg" height="230" class="img-responsive center-block" /> 
        </div>
        @RenderBody()
        <hr />
        <footer>
            @if(@Request.Browser.Browser=="InternetExplorer")
            {
             <div>@Request.Browser.Browser is a terrible browser.</div>
            }
            else{
                <div>You are using @Request.Browser.Browser, that's a good browser! Sample Edit.</div>
            }
            <p>&copy; @DateTime.Now.Year - Vidly</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
