
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC BANK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '635614939940849',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    </script>

    @Html.Partial("_NavBar")
    <div class="container body-content">
        <div class="col-md-12">

            <img src="~/Content/Images/Samplelogo.jpg" height="230" class="img-responsive center-block" /> 
        </div>
        @RenderBody()
        <hr />
        <footer>
            @if(@Request.Browser.Browser=="InternetExplorer")
            {
             <div>@Request.Browser.Browser is a terrible browser.</div>
            }
            else{
                <div>You are using @Request.Browser.Browser, that's a good browser!</div>
            }
            <p>&copy; @DateTime.Now.Year - Vidly</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
